<ng-container *carousel="
  let image from images; 
  let i = index; 
  let direction = direction; 
  let ctrl = controller; 
  cyclic: cyclic;
  autoplay: autoplay;
  autoplaySpeed: autoplaySpeed">
  <div #slider [@slide]="direction" (@slide.done)="ctrl.resetDirection()" class="slider">
    <img *rerender="image" [src]="image">
  </div>
  <button (click)="isAnimating(slider) || ctrl.previous()">Previous</button>
  <button (click)="isAnimating(slider) || ctrl.next()">Next</button>
  <button *ngFor="let image of images; let index = index" (click)="isAnimating(slider) || ctrl.display(index)">
    <span>{{ index }}</span>
  </button>
  {{ i }} / {{images.length - 1 }}
  <div><button (click)="autoplay = !autoplay">Autoplay</button>{{ autoplay }}</div>
  <div><button (click)="cyclic = !cyclic">Cyclic</button>{{ cyclic }}</div>
  <div>
    <input [(ngModel)]="autoplaySpeed">
  </div>
</ng-container>